# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.env
env/
venv/
*.egg-info

# Jupyter
.ipynb_checkpoints/

# Virtualenv
.env/
.venv/

# PyTorch / data
*.pth
*.mat
pretrain/
datasets/

# Large model checkpoints
*.ckpt
*.pt

# IDE
.vscode/
.idea/
